In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('sparkLab').getOrCreate()

In [3]:
sc = spark.sparkContext

## RDDs

In [4]:
myRDD = sc.parallelize( 
 [('Amber', 22), ('Alfred', 23), ('Skye',4), ('Albert', 12), ('Amber', 9)]
)

In [5]:
myRDD.take(5)

[('Amber', 22), ('Alfred', 23), ('Skye', 4), ('Albert', 12), ('Amber', 9)]