In [17]:
%run 02-connect.ipynb

In [18]:
%%sql

SELECT *
FROM billboard_top_100_year_end
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,1956.0,1.0,"""Elvis Presley""","""Elvis Presley""","""Heartbreak Hotel""",1
1,1956.0,2.0,"""Elvis Presley""","""Elvis Presley""","""Don't Be Cruel""",2
2,1956.0,3.0,"""Nelson Riddle""","""Nelson Riddle""","""Lisbon Antigua""",3
3,1956.0,4.0,"""Platters""","""Platters""","""My Prayer""",4
4,1956.0,5.0,"""Gogi Grant""","""Gogi Grant""","""The Wayward Wind""",5
5,1956.0,6.0,"""Les Baxter""","""Les Baxter""","""The Poor People Of Paris""",6
6,1956.0,7.0,"""Doris Day""","""Doris Day""","""Whatever Will Be Will Be (Que Sera Sera)""",7
7,1956.0,8.0,"""Elvis Presley""","""Elvis Presley""","""Hound Dog""",8
8,1956.0,9.0,"""Dean Martin""","""Dean Martin""","""Memories Are Made Of This""",9
9,1956.0,10.0,"""Kay Starr""","""Kay Starr""","""Rock And Roll Waltz""",10

In [19]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE year_rank IN (1, 2, 3)
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,1956.0,1.0,"""Elvis Presley""","""Elvis Presley""","""Heartbreak Hotel""",1
1,1956.0,2.0,"""Elvis Presley""","""Elvis Presley""","""Don't Be Cruel""",2
2,1956.0,3.0,"""Nelson Riddle""","""Nelson Riddle""","""Lisbon Antigua""",3
3,1957.0,1.0,"""Elvis Presley""","""Elvis Presley""","""All Shook Up""",104
4,1957.0,2.0,"""Pat Boone""","""Pat Boone""","""Love Letters In The Sand""",105
5,1957.0,3.0,"""Diamonds""","""Diamonds""","""Little Darlin'""",106
6,1958.0,1.0,"""Domenico Modugno""","""Domenico Modugno""","""Volare (Nel Blu Dipinto Di Blu)""",204
7,1958.0,2.0,"""Everly Brothers""","""Everly Brothers""","""All I Have To Do Is Dream / Claudette""",205
8,1958.0,3.0,"""Elvis Presley""","""Elvis Presley""","""Don't / I Beg Of You""",206
9,1959.0,1.0,"""Johnny Horton""","""Johnny Horton""","""The Battle Of New Orleans""",305

In [21]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE artist IN ('"Taylor Swift"', '"Usher"', '"Ludacris"')
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,1997.0,14.0,"""Usher""","""Usher""","""You Make Me Wanna...""",4236
1,1998.0,9.0,"""Usher""","""Usher""","""Nice and Slow""",4338
2,1998.0,15.0,"""Usher""","""Usher""","""You Make Me Wanna...""",4344
3,1998.0,16.0,"""Usher""","""Usher""","""My Way""",4345
4,2001.0,15.0,"""Usher""","""Usher""","""U Remind Me""",4695
5,2001.0,77.0,"""Ludacris""","""Ludacris""","""Southern Hospitality""",4770
6,2002.0,9.0,"""Usher""","""Usher""","""U Got it Bad""",4810
7,2002.0,15.0,"""P. Diddy feat. Usher and Loon""","""Usher""","""I Need a Girl (Part One)""",4819
8,2002.0,16.0,"""Usher""","""Usher""","""U Don't have to Call""",4821
9,2002.0,55.0,"""Ludacris feat. Mystikal and Infamous 2.0""","""Ludacris""","""Move Bitch""",4880