In [1]:
%run 02-connect.ipynb

In [2]:
%%sql

SELECT *
FROM billboard_top_100_year_end
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,1956.0,1.0,"""Elvis Presley""","""Elvis Presley""","""Heartbreak Hotel""",1
1,1956.0,2.0,"""Elvis Presley""","""Elvis Presley""","""Don't Be Cruel""",2
2,1956.0,3.0,"""Nelson Riddle""","""Nelson Riddle""","""Lisbon Antigua""",3
3,1956.0,4.0,"""Platters""","""Platters""","""My Prayer""",4
4,1956.0,5.0,"""Gogi Grant""","""Gogi Grant""","""The Wayward Wind""",5
5,1956.0,6.0,"""Les Baxter""","""Les Baxter""","""The Poor People Of Paris""",6
6,1956.0,7.0,"""Doris Day""","""Doris Day""","""Whatever Will Be Will Be (Que Sera Sera)""",7
7,1956.0,8.0,"""Elvis Presley""","""Elvis Presley""","""Hound Dog""",8
8,1956.0,9.0,"""Dean Martin""","""Dean Martin""","""Memories Are Made Of This""",9
9,1956.0,10.0,"""Kay Starr""","""Kay Starr""","""Rock And Roll Waltz""",10

In [3]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE year = 2012 AND year_rank <= 10
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,2012.0,1.0,"""Gotye feat. Kimbra""","""Gotye""","""Somebody That I Used To Know""",6203
1,2012.0,1.0,"""Gotye feat. Kimbra""","""Kimbra""","""Somebody That I Used To Know""",6204
2,2012.0,2.0,"""Carly Rae Jepsen""","""Carly Rae Jepsen""","""Call Me Maybe""",6205
3,2012.0,3.0,"""fun. feat. Janelle Monae""","""fun.""","""We Are Young""",6206
4,2012.0,3.0,"""fun. feat. Janelle Monae""","""Janelle Monae""","""We Are Young""",6207
5,2012.0,4.0,"""Maroon 5 feat. Wiz Khalifa""","""Maroon 5""","""Payphone""",6208
6,2012.0,4.0,"""Maroon 5 feat. Wiz Khalifa""","""Wiz Khalifa""","""Payphone""",6209
7,2012.0,5.0,"""Ellie Goulding""","""Ellie Goulding""","""Lights""",6210
8,2012.0,6.0,"""The Wanted""","""The Wanted""","""Glad You Came""",6211
9,2012.0,7.0,"""Kelly Clarkson""","""Kelly Clarkson""","""Stronger (What Doesn't Kill You)""",6212

In [8]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE year = 2012
AND year_rank <= 10
AND song_name LIKE '%You%'
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,2012.0,3.0,"""fun. feat. Janelle Monae""","""fun.""","""We Are Young""",6206
1,2012.0,3.0,"""fun. feat. Janelle Monae""","""Janelle Monae""","""We Are Young""",6207
2,2012.0,6.0,"""The Wanted""","""The Wanted""","""Glad You Came""",6211
3,2012.0,7.0,"""Kelly Clarkson""","""Kelly Clarkson""","""Stronger (What Doesn't Kill You)""",6212
4,2012.0,10.0,"""One Direction""","""One Direction""","""What Makes You Beautiful""",6216