In [1]:
%run 02-connect.ipynb

In [2]:
%%sql

SELECT *
FROM billboard_top_100_year_end
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,1956.0,1.0,"""Elvis Presley""","""Elvis Presley""","""Heartbreak Hotel""",1
1,1956.0,2.0,"""Elvis Presley""","""Elvis Presley""","""Don't Be Cruel""",2
2,1956.0,3.0,"""Nelson Riddle""","""Nelson Riddle""","""Lisbon Antigua""",3
3,1956.0,4.0,"""Platters""","""Platters""","""My Prayer""",4
4,1956.0,5.0,"""Gogi Grant""","""Gogi Grant""","""The Wayward Wind""",5
5,1956.0,6.0,"""Les Baxter""","""Les Baxter""","""The Poor People Of Paris""",6
6,1956.0,7.0,"""Doris Day""","""Doris Day""","""Whatever Will Be Will Be (Que Sera Sera)""",7
7,1956.0,8.0,"""Elvis Presley""","""Elvis Presley""","""Hound Dog""",8
8,1956.0,9.0,"""Dean Martin""","""Dean Martin""","""Memories Are Made Of This""",9
9,1956.0,10.0,"""Kay Starr""","""Kay Starr""","""Rock And Roll Waltz""",10

In [4]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE artist IS NULL
LIMIT 10;

Empty DataFrame
Columns: []
Index: []

In [6]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE artist = ''
LIMIT 10;

     year  year_rank              group artist                song_name    id
0  1959.0        4.0   "Frankie Avalon"                         "Venus"   308
1  1960.0       20.0      "Roy Orbison"               "Only The Lonely"   426
2  1961.0       85.0        "Paul Anka"                "Tonight My Love     0
3  1962.0       77.0      "Rick Nelson"                 "Teen Age Idol"   685
4  1985.0       24.0      "Bryan Adams"                        "Heaven"  3002
5  1991.0       42.0  "Whitney Houston"         "I'm Your Baby Tonight"  3642
6  1997.0       89.0   "Michael Bolton"               "Go The Distance"  4318
7  2005.0       42.0      "Chris Brown"                       "Run It!"  5280
8  2009.0       94.0   "Zac Brown Band"                "Whatever It Is"  5898