In [1]:
%run 02-connect.ipynb

In [2]:
%%sql

SELECT *
FROM billboard_top_100_year_end
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,1956.0,1.0,"""Elvis Presley""","""Elvis Presley""","""Heartbreak Hotel""",1
1,1956.0,2.0,"""Elvis Presley""","""Elvis Presley""","""Don't Be Cruel""",2
2,1956.0,3.0,"""Nelson Riddle""","""Nelson Riddle""","""Lisbon Antigua""",3
3,1956.0,4.0,"""Platters""","""Platters""","""My Prayer""",4
4,1956.0,5.0,"""Gogi Grant""","""Gogi Grant""","""The Wayward Wind""",5
5,1956.0,6.0,"""Les Baxter""","""Les Baxter""","""The Poor People Of Paris""",6
6,1956.0,7.0,"""Doris Day""","""Doris Day""","""Whatever Will Be Will Be (Que Sera Sera)""",7
7,1956.0,8.0,"""Elvis Presley""","""Elvis Presley""","""Hound Dog""",8
8,1956.0,9.0,"""Dean Martin""","""Dean Martin""","""Memories Are Made Of This""",9
9,1956.0,10.0,"""Kay Starr""","""Kay Starr""","""Rock And Roll Waltz""",10

In [3]:
%%sql

SELECT *
FROM billboard_top_100_year_end
ORDER BY artist
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,2005.0,42.0,"""Chris Brown""",,"""Run It!""",5280
1,2009.0,94.0,"""Zac Brown Band""",,"""Whatever It Is""",5898
2,1997.0,89.0,"""Michael Bolton""",,"""Go The Distance""",4318
3,1962.0,77.0,"""Rick Nelson""",,"""Teen Age Idol""",685
4,1960.0,20.0,"""Roy Orbison""",,"""Only The Lonely""",426
5,1959.0,4.0,"""Frankie Avalon""",,"""Venus""",308
6,1961.0,85.0,"""Paul Anka""",,"""Tonight My Love",0
7,1985.0,24.0,"""Bryan Adams""",,"""Heaven""",3002
8,1991.0,42.0,"""Whitney Houston""",,"""I'm Your Baby Tonight""",3642
9,2013.0,41.0,"""A$AP Rocky feat. Drake","2 Chainz and Kendrick Lamar""","""Drake""",0

In [4]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE year = 2013
ORDER BY year_rank
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,2013.0,1.0,"""Macklemore and Ryan Lewis feat. Wanz""","""Ryan Lewis""","""Thrift Shop""",6335
1,2013.0,1.0,"""Macklemore and Ryan Lewis feat. Wanz""","""Macklemore""","""Thrift Shop""",6334
2,2013.0,1.0,"""Macklemore and Ryan Lewis feat. Wanz""","""Wanz""","""Thrift Shop""",6336
3,2013.0,2.0,"""Robin Thicke feat. T.I. and Pharrell""","""Robin Thicke""","""Blurred Lines""",6337
4,2013.0,2.0,"""Robin Thicke feat. T.I. and Pharrell""","""Pharrell""","""Blurred Lines""",6339
5,2013.0,2.0,"""Robin Thicke feat. T.I. and Pharrell""","""T.I.""","""Blurred Lines""",6338
6,2013.0,3.0,"""Imagine Dragons""","""Imagine Dragons""","""Radioactive""",6340
7,2013.0,4.0,"""Baauer""","""Baauer""","""Harlem Shake""",6341
8,2013.0,5.0,"""Macklemore and Ryan Lewis feat. Ray Dalton""","""Macklemore""","""Can't Hold Us""",6342
9,2013.0,5.0,"""Macklemore and Ryan Lewis feat. Ray Dalton""","""Ray Dalton""","""Can't Hold Us""",6344

In [5]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE year = 2013
ORDER BY year_rank DESC
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,2013.0,100.0,"""Paramore""","""Paramore""","""Still Into You""",6476
1,2013.0,99.0,"""2 Chainz""","""2 Chainz""","""I'm Different""",6475
2,2013.0,98.0,"""Randy Houser""","""Randy Houser""","""Runnin' Outta Moonlight""",6474
3,2013.0,97.0,"""Passenger""","""Passenger""","""Let Her Go""",6473
4,2013.0,96.0,"""Sara Bareilles""","""Sara Bareilles""","""Brave""",6472
5,2013.0,95.0,"""will.i.am feat. Justin Bieber""","""Justin Bieber""","""#thatPOWER""",6471
6,2013.0,95.0,"""will.i.am feat. Justin Bieber""","""will.i.am""","""#thatPOWER""",6470
7,2013.0,94.0,"""Florida Georgia Line""","""Florida Georgia Line""","""Get Your Shine On""",6469
8,2013.0,93.0,"""Lady Antebellum""","""Lady Antebellum""","""Downtown""",6468
9,2013.0,92.0,"""Hunter Hayes""","""Hunter Hayes""","""Wanted""",6467

In [6]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE year_rank <= 3
ORDER BY year DESC, year_rank
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,2013.0,1.0,"""Macklemore and Ryan Lewis feat. Wanz""","""Macklemore""","""Thrift Shop""",6334
1,2013.0,1.0,"""Macklemore and Ryan Lewis feat. Wanz""","""Wanz""","""Thrift Shop""",6336
2,2013.0,1.0,"""Macklemore and Ryan Lewis feat. Wanz""","""Ryan Lewis""","""Thrift Shop""",6335
3,2013.0,2.0,"""Robin Thicke feat. T.I. and Pharrell""","""Pharrell""","""Blurred Lines""",6339
4,2013.0,2.0,"""Robin Thicke feat. T.I. and Pharrell""","""T.I.""","""Blurred Lines""",6338
5,2013.0,2.0,"""Robin Thicke feat. T.I. and Pharrell""","""Robin Thicke""","""Blurred Lines""",6337
6,2013.0,3.0,"""Imagine Dragons""","""Imagine Dragons""","""Radioactive""",6340
7,2012.0,1.0,"""Gotye feat. Kimbra""","""Gotye""","""Somebody That I Used To Know""",6203
8,2012.0,1.0,"""Gotye feat. Kimbra""","""Kimbra""","""Somebody That I Used To Know""",6204
9,2012.0,2.0,"""Carly Rae Jepsen""","""Carly Rae Jepsen""","""Call Me Maybe""",6205

In [7]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE year_rank <= 3
ORDER BY year_rank, year DESC
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,2013.0,1.0,"""Macklemore and Ryan Lewis feat. Wanz""","""Wanz""","""Thrift Shop""",6336
1,2013.0,1.0,"""Macklemore and Ryan Lewis feat. Wanz""","""Ryan Lewis""","""Thrift Shop""",6335
2,2013.0,1.0,"""Macklemore and Ryan Lewis feat. Wanz""","""Macklemore""","""Thrift Shop""",6334
3,2012.0,1.0,"""Gotye feat. Kimbra""","""Gotye""","""Somebody That I Used To Know""",6203
4,2012.0,1.0,"""Gotye feat. Kimbra""","""Kimbra""","""Somebody That I Used To Know""",6204
5,2011.0,1.0,"""Adele""","""Adele""","""Rolling In The Deep""",6056
6,2010.0,1.0,"""Ke$ha""","""Ke$ha""","""TiK ToK""",5909
7,2009.0,1.0,"""The Black Eyed Peas""","""The Black Eyed Peas""","""Boom Boom Pow""",5779
8,2008.0,1.0,"""Flo Rida feat. T-Pain""","""T-Pain""","""Low""",5639
9,2008.0,1.0,"""Flo Rida feat. T-Pain""","""Flo Rida""","""Low""",5638

In [8]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE year_rank <= 3
ORDER BY 2, 1 DESC
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,2013.0,1.0,"""Macklemore and Ryan Lewis feat. Wanz""","""Wanz""","""Thrift Shop""",6336
1,2013.0,1.0,"""Macklemore and Ryan Lewis feat. Wanz""","""Ryan Lewis""","""Thrift Shop""",6335
2,2013.0,1.0,"""Macklemore and Ryan Lewis feat. Wanz""","""Macklemore""","""Thrift Shop""",6334
3,2012.0,1.0,"""Gotye feat. Kimbra""","""Gotye""","""Somebody That I Used To Know""",6203
4,2012.0,1.0,"""Gotye feat. Kimbra""","""Kimbra""","""Somebody That I Used To Know""",6204
5,2011.0,1.0,"""Adele""","""Adele""","""Rolling In The Deep""",6056
6,2010.0,1.0,"""Ke$ha""","""Ke$ha""","""TiK ToK""",5909
7,2009.0,1.0,"""The Black Eyed Peas""","""The Black Eyed Peas""","""Boom Boom Pow""",5779
8,2008.0,1.0,"""Flo Rida feat. T-Pain""","""T-Pain""","""Low""",5639
9,2008.0,1.0,"""Flo Rida feat. T-Pain""","""Flo Rida""","""Low""",5638