In [7]:
%run 02-connect.ipynb

In [8]:
%sql USE classicmodels

Empty DataFrame
Columns: []
Index: []

The following CREATE PROCEDURE statement creates a new stored procedure that wraps the query above:

In [5]:
%%sql

CREATE PROCEDURE GetCustomers()
BEGIN
	SELECT 
		customerName, 
		city, 
		state, 
		postalCode, 
		country
	FROM
		customers
	ORDER BY customerName;    
END

Empty DataFrame
Columns: []
Index: []

By definition, a stored procedure is a segment of declarative SQL statements stored inside the MySQL Server. In this example, we have just created a stored procedure with the name `GetCustomers()`.

Once you save the stored procedure, you can invoke it by using the `CALL` statement:

In [ ]:
%%sql

CALL GetCustomers()

First, create a new stored procedure that returns employee and office information:

In [14]:
%%sql

CREATE PROCEDURE GetOfficeByCountry(
	IN countryName VARCHAR(255)
)
BEGIN
	SELECT * 
 	FROM offices
	WHERE country = countryName;
END

Empty DataFrame
Columns: []
Index: []

In this example, the `countryName` is the `IN` parameter of the stored procedure.

Suppose that you want to find offices locating in the USA, you need to pass an argument (`USA`) to the stored procedure as shown in the following query:

In [ ]:
%sql CALL GetOfficeByCountry('USA')

To find offices in France, you pass the literal string France to the GetOfficeByCountry stored procedure as follows:

In [ ]:
%sql CALL GetOfficeByCountry('France')

The following stored procedure returns the number of orders by order status.

In [16]:
%%sql

CREATE PROCEDURE GetOrderCountByStatus (
	IN  orderStatus VARCHAR(25),
	OUT total INT
)
BEGIN
	SELECT COUNT(orderNumber)
	INTO total
	FROM orders
	WHERE status = orderStatus;
END

Empty DataFrame
Columns: []
Index: []

The stored procedure `GetOrderCountByStatus()` has two parameters:

-   The `orderStatus`: is the `IN` parameter specifies the status of orders to return.
-   The `total`: is the `OUT` parameter that stores the number of orders in a specific status.

To find the number of orders that already shipped, you call `GetOrderCountByStatus` and pass the order status as of `Shipped`, and also pass a session variable ( `@total` ) to receive the return value.

In [ ]:
%%sql

CALL GetOrderCountByStatus('Shipped',@total);
SELECT @total;

To get the number of orders that are in-process, you call the stored procedure GetOrderCountByStatus as follows:

In [ ]:
%%sql

CALL GetOrderCountByStatus('in process',@total);
SELECT @total AS  total_in_process;