In [1]:
%run 00-init.ipynb

### Artist ranking

Find how many times each artist appeared on the Spotify ranking list
Output the artist name along with the corresponding number of occurrences.
Order records by the number of occurrences in descending order.

In [3]:
spotify_ranking = read_csv('spotify_ranking')
spotify_ranking.head()

,id,position,trackname,artist,streams,url,date,region
0,303651,52,Heart Won't Forget,Matoma,28047,https://open.spotify.com/track/2of2DM5LqTh7ohm...,2017-02-04 00:00:00,no
1,85559,160,"Someone In The Crowd - From ""La La Land"" Sound...",Emma Stone,17134,https://open.spotify.com/track/7xE4vKvjqUTtHyJ...,2017-02-26 00:00:00,fr
2,1046089,175,The Greatest,Sia,10060,https://open.spotify.com/track/7xHWNBFm6ObGEQP...,2017-03-06 00:00:00,cl
3,350824,25,Unforgettable,French Montana,46603,https://open.spotify.com/track/3B54sVLJ402zGa6...,2017-10-01 00:00:00,no
4,776822,1,Bad and Boujee (feat. Lil Uzi Vert),Migos,1823391,https://open.spotify.com/track/4Km5HrUvYTaSUfi...,2017-01-27 00:00:00,us

In [4]:
result = spotify_ranking.groupby(['artist']).size().to_frame('n_occurences').reset_index().sort_values('n_occurences', ascending = False)
result.head()

            artist  n_occurences
37  Kendrick Lamar             9
18      Ed Sheeran             5
64             Sia             2
45   Manuel Turizo             2
49          Matoma             2

### Top Ranked Songs

Find songs that have ranked in the top position. Output the track name and the number of times it ranked at the top. Sort your records by the number of times the song was in the top position in descending order.

In [5]:
position = spotify_ranking[spotify_ranking['position'] == 1]
result = position.groupby(['trackname']).size().to_frame('times_top1').reset_index().sort_values('times_top1', ascending = False)
result.head()

                             trackname  times_top1
1                              HUMBLE.           7
0  Bad and Boujee (feat. Lil Uzi Vert)           1
2             Look What You Made Me Do           1

### Find the top 10 ranked songs in 2010

What were the top 100 ranked songs in 2010?
Output the rank, group name, and song name but do not show the same song twice.
Sort the result based on the year_rank in ascending order.

In [11]:
spotify_billboard = read_csv('spotify_billboard')
spotify_billboard.head()

,year,year_rank,group_name,artist,song_name,id
0,2010,80,"KEVIN RUDOLF FEAT. BIRDMAN, JAY SEAN, AND LIL ...",BIRDMAN,I Made It (Cash Money Heroes),6029
1,2010,80,"KEVIN RUDOLF FEAT. BIRDMAN, JAY SEAN, AND LIL ...",JAY SEAN,I Made It (Cash Money Heroes),6030
2,2010,80,"KEVIN RUDOLF FEAT. BIRDMAN, JAY SEAN, AND LIL ...",AND LIL WAYNE,I Made It (Cash Money Heroes),6031
3,2010,81,SUGARLAND,SUGARLAND,Stuck Like Glue,6032
4,2010,82,USHER FEAT. PLIES,USHER,Hey Daddy (Daddy's Home),6033

In [17]:
spotify_billboard.year_rank = spotify_billboard.year_rank.astype('int')
spotify_billboard.year = spotify_billboard.year.astype('int')
spotify_billboard.id = spotify_billboard.id.astype('int')
conditions = spotify_billboard[(spotify_billboard['year'] == 2010) & (spotify_billboard['year_rank'].between(1,100))]
result = conditions[['year_rank','group_name','song_name']].drop_duplicates()
result.head()

,year_rank,group_name,song_name
0,80,"KEVIN RUDOLF FEAT. BIRDMAN, JAY SEAN, AND LIL ...",I Made It (Cash Money Heroes)
3,81,SUGARLAND,Stuck Like Glue
4,82,USHER FEAT. PLIES,Hey Daddy (Daddy's Home)
6,83,USHER,There Goes My Baby
7,84,TAYLOR SWIFT,Today Was A Fairytale