## Setup

In [12]:
import os
import glob                         # this module helps in selecting files 
import pandas as pd                 # this module helps in processing CSV files
import xml.etree.ElementTree as ET  # this module helps in processing XML files.
from datetime import datetime

In [22]:
DATA_ROOT = "./data"
TMP_FILE = "./data/temp/tmp" # file used to store all extracted data
LOG_FILE = "log.txt" # all event logs will be stored in this 
TARGET_FILE = "./data/transformed_data.csv" # file where transformed data is stored

In [14]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open(LOG_FILE, "a") as f:
        f.write(timestamp + ',' + message + '\n')

## Extract

In [9]:
def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    return dataframe

In [10]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process, lines=True)
    return dataframe

In [11]:
def extract_from_xml(file_to_process):
    dataframe = pd.DataFrame(columns=["name", "height", "weight"])
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        name = person.find("name").text
        height = float(person.find("height").text)
        weight = float(person.find("weight").text)
        dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
    return dataframe

In [13]:
def extract():
    extracted_data = pd.DataFrame(columns=['name','height','weight']) # create an empty data frame to hold extracted data
    
    #process all csv files
    for csvfile in glob.glob(os.path.join(DATA_ROOT, "*.csv")):
        extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
        
    #process all json files
    for jsonfile in glob.glob(os.path.join(DATA_ROOT, "*.json")):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    
    #process all xml files
    for xmlfile in glob.glob(os.path.join(DATA_ROOT, "*.xml")):
        extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)
        
    return extracted_data

## Transform

The transform function does the following tasks.

1.  Convert height which is in inches to millimeter
2.  Convert weight which is in pounds to kilograms

In [15]:
def transform(data):
    #Convert height which is in inches to millimeter
    #Convert the datatype of the column into float
    #data.height = data.height.astype(float)
    #Convert inches to meters and round off to two decimals(one inch is 0.0254 meters)
    data['height'] = round(data.height * 0.0254,2)
    
    #Convert weight which is in pounds to kilograms
    #Convert the datatype of the column into float
    #data.weight = data.weight.astype(float)
    #Convert pounds to kilograms and round off to two decimals(one pound is 0.45359237 kilograms)
    data['weight'] = round(data.weight * 0.45359237,2)
    return data

## Load

In [16]:
def load(targetfile, data_to_load):
    data_to_load.to_csv(targetfile)

## Running ETL Process

In [17]:
log("ETL Job Started")

In [23]:
log("Extract phase Started")
extracted_data = extract()
log("Extract phase Ended")
extracted_data

     name  height  weight
0    alex   65.78  112.99
1    ajay   71.52  136.49
2   alice   69.40  153.03
3    ravi   68.22  142.34
4     joe   67.79  144.30
5    alex   65.78  112.99
6    ajay   71.52  136.49
7   alice   69.40  153.03
8    ravi   68.22  142.34
9     joe   67.79  144.30
10   alex   65.78  112.99
11   ajay   71.52  136.49
12  alice   69.40  153.03
13   ravi   68.22  142.34
14    joe   67.79  144.30
15   jack   68.70  123.30
16    tom   69.80  141.49
17  tracy   70.01  136.46
18   john   67.90  112.37
19   jack   68.70  123.30
20    tom   69.80  141.49
21  tracy   70.01  136.46
22   john   67.90  112.37
23   jack   68.70  123.30
24    tom   69.80  141.49
25  tracy   70.01  136.46
26   john   67.90  112.37
27  simon   67.90  112.37
28  jacob   66.78  120.67
29  cindy   66.49  127.45
30   ivan   67.62  114.14
31  simon   67.90  112.37
32  jacob   66.78  120.67
33  cindy   66.49  127.45
34   ivan   67.62  114.14
35  simon   67.90  112.37
36  jacob   66.78  120.67
37  cindy   66.49  127.45
38   ivan   67.62  114.14

In [24]:
log("Transform phase Started")
transformed_data = transform(extracted_data)
log("Transform phase Ended")
transformed_data

     name  height  weight
0    alex    1.67   51.25
1    ajay    1.82   61.91
2   alice    1.76   69.41
3    ravi    1.73   64.56
4     joe    1.72   65.45
5    alex    1.67   51.25
6    ajay    1.82   61.91
7   alice    1.76   69.41
8    ravi    1.73   64.56
9     joe    1.72   65.45
10   alex    1.67   51.25
11   ajay    1.82   61.91
12  alice    1.76   69.41
13   ravi    1.73   64.56
14    joe    1.72   65.45
15   jack    1.74   55.93
16    tom    1.77   64.18
17  tracy    1.78   61.90
18   john    1.72   50.97
19   jack    1.74   55.93
20    tom    1.77   64.18
21  tracy    1.78   61.90
22   john    1.72   50.97
23   jack    1.74   55.93
24    tom    1.77   64.18
25  tracy    1.78   61.90
26   john    1.72   50.97
27  simon    1.72   50.97
28  jacob    1.70   54.73
29  cindy    1.69   57.81
30   ivan    1.72   51.77
31  simon    1.72   50.97
32  jacob    1.70   54.73
33  cindy    1.69   57.81
34   ivan    1.72   51.77
35  simon    1.72   50.97
36  jacob    1.70   54.73
37  cindy    1.69   57.81
38   ivan    1.72   51.77

In [26]:
log("Load phase Started")
load(TARGET_FILE, transformed_data)
log("Load phase Ended")

In [27]:
log("ETL Job Ended")