In [ ]:
import cassandra
from cassandra.cluster import Cluster

In [2]:
# create connection

try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()

except Exception as e:
    print(e)

In [3]:
# create a keyspace

try:
    session.execute("create keyspace if not exists wysde \
                with replication = \
                {'class': 'SimpleStrategy', 'replication_factor':1}" )
                

except Exception as e:
    print(e)

In [4]:
# connect to keyspace

try:
    session.set_keyspace("wysde")

except Exception as e:
    print(e)

### think of query before you design in cassandra

![alt text](pics1.png "Image 1 Display")
![alt text](pics2.png "Image 1 Display")

## Create table

In [5]:
# music_library table
query = "CREATE TABLE IF NOT EXISTS music_library"

query = query + "(year int, artist_name text, album_name text, PRIMARY KEY(year, artist_name))"

try:
    session.execute(query)            
except Exception as e:
    print(e)

    
    
    
# album_library table
query = "CREATE TABLE IF NOT EXISTS album_library"

query = query + "(year int, artist_name text, album_name text, PRIMARY KEY(artist_name, year))"

try:
    session.execute(query)            
except Exception as e:
    print(e)

In [6]:
# check if table was created

try:
    count = session.execute(query)
    
except Exception as e:
    print(e)
    
print(count.one())

None

### insert rows

![alt text](pic7.png "Image 1 Display")

In [7]:
# insert rows into table 1
query ="INSERT INTO music_library (year, artist_name, album_name)"
query = query + "values(%s, %s, %s)"


try:
    session.execute(query, (1970, "The Beatles", "Let It Be"))
except Exception as e:
    print(e)


try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)

    
try:
    session.execute(query, (1965, "The Who", "My generation"))
except Exception as e:
    print(e)

    
try:
    session.execute(query, (1965, "The Monkees", "Rubber Monkees"))
except Exception as e:
    print(e)

    

try:
    session.execute(query, (1965, "The Carpenters", "Close to You"))
except Exception as e:
    print(e)

    
    
    
    
    

# insert rows into table 2
query1 ="INSERT INTO album_library (artist_name, year, album_name)"
query1 = query1 + "values(%s, %s, %s)"


try:
    session.execute(query1, ("The Beetles", 1970, "Let It Be"))
except Exception as e:
    print(e)

    
try:
    session.execute(query1, ("The Who", 1965, "My Generation"))
except Exception as e:
    print(e)

    
try:
    session.execute(query1, ("The Monkees", 1970, "The Monkees"))
except Exception as e:
    print(e)

    
try:
    session.execute(query1, ("The Carpenters", 1970, "Close To You"))
except Exception as e:
    print(e)


### validate data insertion

![alt text](pics3.png "Image 1 Display")

In [8]:
# validate inserted data
query = "select * FROM music_library WHERE YEAR=1970"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.artist_name, row.album_name)

1970 The Beatles Let It Be


### validate data insertion

![alt text](pics4.png "Image 1 Display")

In [9]:
# lets validate data model with intended query before database design

query = "select * FROM album_library WHERE ARTIST_NAME='The Beatle'"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.artist_name, row.year, row.album_name)

In [10]:
# drop table
query = "DROP TABLE album_library"

session.execute(query)

In [11]:
# finally close session

session.shutdown()
cluster.shutdown()