In [1]:
%run 00-init.ipynb

### Posts with Heart

Find all posts which were reacted to with a heart. For such posts output all columns from facebook_posts table.

In [2]:
facebook_reactions = read_csv('facebook_reactions')
facebook_reactions.head()

   poster  friend reaction  date_day  post_id
0       2       1     like         1        0
1       2       6     like         1        0
2       1       2     like         1        1
3       1       3    heart         1        1
4       1       4     like         1        1

In [3]:
facebook_posts = read_csv('facebook_posts')
facebook_posts.head()

,post_id,poster,post_text,post_keywords,post_date
0,0,2,The Lakers game from last night was great.,"[basketball,lakers,nba]",2019-01-01 00:00:00
1,1,1,Lebron James is top class.,"[basketball,lebron_james,nba]",2019-01-02 00:00:00
2,2,2,Asparagus tastes OK.,"[asparagus,food]",2019-01-01 00:00:00
3,3,1,Spaghetti is an Italian food.,"[spaghetti,food]",2019-01-02 00:00:00
4,4,3,User 3 is not sharing interests,[#spam#],2019-01-01 00:00:00

In [4]:
heart = facebook_reactions[facebook_reactions['reaction'] == 'heart'][['post_id']]
result = pd.merge(heart, facebook_posts, on='post_id').drop_duplicates(subset = 'post_id')
result

,post_id,poster,post_text,post_keywords,post_date
0,1,1,Lebron James is top class.,"[basketball,lebron_james,nba]",2019-01-02 00:00:00

### Popularity of Hack

Meta/Facebook has developed a new programing language called Hack. To measure the popularity of Hack they ran a survey with their employees. The survey included data on previous programing familiarity as well as the number of years of experience, age, gender and most importantly satisfaction with Hack. Due to an error location data was not collected, but your supervisor demands a report showing average popularity of Hack by office location. Luckily the user IDs of employees completing the surveys were stored.
Based on the above, find the average popularity of the Hack per office location.
Output the location along with the average popularity.

In [7]:
facebook_employees = read_csv('facebook_employees')
facebook_employees.head()

   id location  age gender  is_senior
0   0      USA   24      M      False
1   1      USA   31      F       True
2   2      USA   29      F      False
3   3      USA   33      M      False
4   4      USA   36      F       True

In [8]:
facebook_hack_survey = read_csv('facebook_hack_survey')
facebook_hack_survey.head()

   employee_id  age gender  popularity
0            0   24      M           6
1            1   31      F           4
2            2   29      F           0
3            3   33      M           7
4            4   36      F           6

In [9]:
merged = pd.merge(facebook_employees, facebook_hack_survey, left_on = 'id', right_on = 'employee_id', how = 'inner')
result = merged.groupby(['location'])['popularity'].mean().reset_index()
result

      location  popularity
0        India    7.500000
1  Switzerland    1.000000
2           UK    4.333333
3          USA    4.600000