In [1]:
CONNECTION_HOST = "database-1.<>.us-east-1.rds.amazonaws.com"
CONNECTION_USER = ""
CONNECTION_PASSWORD = ""
CONNECTION_DB = "postgres"
KAFKA_TOPIC_NAME_IN = "fake-users"

In [2]:
from faker import Faker
import pandas as pd
import sqlalchemy as sa

In [33]:
fake=Faker()

db_url = f'postgresql://{CONNECTION_USER}:{CONNECTION_PASSWORD}@{CONNECTION_HOST}:5432/{CONNECTION_DB}'
engine = sa.create_engine(db_url)

df = pd.DataFrame(columns=['name', 'age'])

for i in range(1000):
    df.loc[i] = [fake.name(), fake.random_int(min=18, max=80)]
    
df.to_sql('sparsh_fake_users', engine, method='multi', index=False, if_exists='append')

In [34]:
df.head()

               name age
0      Diana George  80
1  Brooke Gutierrez  42
2    Jennifer Banks  79
3     James Rosales  78
4     Robert Barnes  39