## Setup

In [ ]:
%%writefile requirements.txt
pycoingecko
plotly
mplfinance
nbformat
randomuser

Writing requirements.txt

In [ ]:
%%capture
!pip install -r requirements.txt

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [ ]:
import plotly.graph_objects as go
from plotly.offline import plot
from pycoingecko import CoinGeckoAPI
from mplfinance.original_flavor import candlestick2_ohlc
from randomuser import RandomUser

## Basics

### Prints

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
x = "Hello"
y = "World"

print(x, y, "!")

Hello World !

In [ ]:
print(x + " " + y + "!")

Hello World!

In [ ]:
print(f"{x} {y}!")

Hello World!

In [ ]:
print("{} {}!".format(x, y))

Hello World!

In [ ]:
print("{1} {0}!".format(x, y))

World Hello!

### Tuple

In [ ]:
tuple1 = ("disco", 10, 1.2)
tuple1

('disco', 10, 1.2)

In [ ]:
type(tuple1)

tuple

In [ ]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

Q: Print data type of each element of the tuple

In [ ]:
tuple2 = ("mars", 1034, 190.2)
tuple2

('mars', 1034, 190.2)

In [ ]:
print(type(tuple2[0]))
print(type(tuple2[1]))
print(type(tuple2[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
tuple2[-1]

190.2

In [ ]:
tuple3 = tuple2 + ("hard rock", 10)
tuple3

('mars', 1034, 190.2, 'hard rock', 10)

In [ ]:
len(tuple3)

5

In [ ]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
Ratings[3:5]

(5, 10)

In [ ]:
tuple3.index(190.2)

2

### Lists

Perform list operations in Python, including indexing, list manipulation, and copy/clone list

#### Indexing

We are going to take a look at lists in Python. A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an <b>index</b>. An index is used to access and refer to items within a list.

In [ ]:
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [ ]:
type(L)

list

In [ ]:
# Print the elements on each index

print(L[0])
print(L[-3])
print(L[1])
print(L[-2])
print(L[2])
print(L[-1])

Michael Jackson
Michael Jackson
10.1
10.1
1982
1982

#### List content

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting.

In [ ]:
["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

#### List operations

In [ ]:
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L[3:5]

['MJ', 1]

We can use the method <code>extend</code> to add new elements to the list:

In [ ]:
L = ["Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
L = ["Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

As lists are mutable, we can change them. For example, we can change the first element as follows:

In [ ]:
A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

We can also delete an element of a list using the <code>del</code> command:

We can also delete an element of a list using the `del` command:

In [ ]:
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

We can convert a string to a list using <code>split</code>.  For example, the method <code>split</code> translates every group of characters separated by a space into an element in a list:

In [ ]:
txt = 'hard rock'

txt.split()

['hard', 'rock']

#### Copy and Clone List

When we set one variable <b>B</b> equal to <b>A</b>, both <b>A</b> and <b>B</b> are referencing the same list in memory:

In [ ]:
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

Initially, the value of the first element in <b>B</b> is set as "hard rock". If we change the first element in <b>A</b> to <b>"banana"</b>, we get an unexpected side effect.  As <b>A</b> and <b>B</b> are referencing the same list, if we change list <b>A</b>, then list <b>B</b> also changes. If we check the first element of <b>B</b> we get "banana" instead of "hard rock":

In [ ]:
print('B:', B)
A[0] = "banana"
print('B:', B)

B: ['hard rock', 10, 1.2]
B: ['banana', 10, 1.2]

You can clone list **A** by using the following syntax:

In [ ]:
A = ["hard rock", 10, 1.2]

B = A[:]
B

['hard rock', 10, 1.2]

In [ ]:
print('B:', B)
A[0] = "banana"
print('B:', B)

B: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

Q: Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>

In [ ]:
a_list=[1, "hello", [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

Q: Find the value stored at index 1 of <code>a_list</code>

In [ ]:
a_list[1]

'hello'

Q: Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>

In [ ]:
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>:

In [ ]:
A = [1,'a']
B = [2,1,'d']

A+B

[1, 'a', 2, 1, 'd']

#### Misc

In [ ]:
lst = ['earth','mars','saturn']
lst[1]

In [ ]:
newls = list(range(62,96))
newls[-2:]
newls[-5:]
newls[:5]
[x/10 for x in newls[:5]]
[x*10 for x in newls[:5]]

### Dictionaries

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of being indexed numerically like a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.

Each key is separated from its value by a colon "<code>:</code>".  Commas separate the items, and the whole dictionary is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this  "<code>{}</code>".

![](https://user-images.githubusercontent.com/62965911/221246219-bf3749d2-c8cf-4ba5-acc5-0f33f6c33b43.png)

In [ ]:
Student = {"Name": "Alex", "Blood Group": "O+"}

print("Student name is {} and blood group is {}".format(Student["Name"],
                                                        Student["Blood Group"]))

Student name is Alex and blood group is O+

In [ ]:
type(Student)

dict

In [ ]:
print(f'Student name is {Student["Name"]} and blood group is {Student["Blood Group"]}')

Student name is Alex and blood group is O+

In [ ]:
x = Student["Name"]
y = Student["Blood Group"]

print(f'Student name is {x} and blood group is {y}')

Student name is Alex and blood group is O+

In [ ]:
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [ ]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
list(release_year_dict.keys())

['Thriller',
 'Back in Black',
 'The Dark Side of the Moon',
 'The Bodyguard',
 'Bat Out of Hell',
 'Their Greatest Hits (1971-1975)',
 'Saturday Night Fever',
 'Rumours']

In [ ]:
list(release_year_dict.values())

['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977']

In [ ]:
release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [ ]:
del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [ ]:
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

Q: In the dictionary <code>soundtrack_dic</code> what are the keys?

In [ ]:
list(soundtrack_dic.keys())[1]

'Saturday Night Fever'

### Sets

In [ ]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [ ]:
lst = [1,2,3,6,8,3,10,10,3,7,10]

list(set(lst))

[1, 2, 3, 6, 7, 8, 10]

In [ ]:
lst1 = [1,2,3,6,8,3,10,10,3,7,10]
lst2 = [1,2,3,4,5]

list(set(lst1).intersection(set(lst2)))

[1, 2, 3]

In [ ]:
list(set(lst1) & set(lst2))

[1, 2, 3]

In [ ]:
list(set(lst1).difference(set(lst2)))

[8, 10, 6, 7]

In [ ]:
list(set(lst1).union(set(lst2)))

[1, 2, 3, 4, 5, 6, 7, 8, 10]

Q: Get a list of movies present in universe 1 and 2 combined

In [ ]:
universe1 = ["Thriller", "AC/DC", "Back in Black"]
universe2 = ["AC/DC", "Back in Black", "The Dark Side of the Moon"]

# write your code here
answer = sorted(list(set(universe1).union(set(universe2))))

# test
assert(answer == ["AC/DC", "Back in Black", "The Dark Side of the Moon", "Thriller"])

### Functions

In [ ]:
def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return b

In [ ]:
help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [ ]:
result = add(2)
print(result)

2 if you add one 3
3

In [ ]:
def add(a):
    """
    add 1 to a
    """
    print("{} if you add one {}".format(a, a+1))

In [ ]:
add(2)

2 if you add one 3

Q: Create a function that will multiply 2 input numbers and return the result as integer

In [ ]:
def multiply(a, b):
    return int(a*b)

In [ ]:
multiply(10, 20)

200

In [ ]:
multiply(5.2, 12.424)

64

In [ ]:
def type_of_album(artist, album, year_released):
    if year_released >= 1980:
        return "Modern"
    else:
        return "Oldie"

result = type_of_album("Michael Jackson", "Thriller", 1980)
result

'Modern'

In [ ]:
def isGoodRating(rating=4):
    """
    this function print message as per the rating value
    """
    if(rating < 7):
        print("this album sucks it's rating is", rating)
    else:
        print("this album is good its rating is", rating)
    return None # by default, function return None

In [ ]:
result1 = isGoodRating()
result2 = isGoodRating(10)

print("Result 1 is {} and result 2 is {}".format(result1, result2))

this album sucks it's rating is 4
this album is good its rating is 10
Result 1 is None and result 2 is None

### Loops

In [ ]:
name = input("Enter the name (first name and last name): ")

print('User first name is {}'.format(name.split()[0]))

Enter the name (first name and last name): John Doe
User first name is John

In [ ]:
name = input("Enter the name (first name and last name): ")

print('User last name is {}'.format(name.split()[1]))

Enter the name (first name and last name): Peter Norvesky
User last name is Norvesky

In [ ]:
while(True):
    try:
        age = int(input("Enter the age: "))
        if age < 0:
            raise Exception("Age can not be less than 0")
        else:
            print("Your age is {}".format(age))
            break
    except ValueError:
        print("Age should be int")
    except Exception as e:
        print("Error message is {}".format(e))
        print("Invalid age")

Enter the age: -5
Error message is Age can not be less than 0
Invalid age
Enter the age: 10
Your age is 10

In [ ]:
num = 10

print(num % 3)
print(num % 4)
print(num % 5)
print(num % 6)

1
2
0
4

In [ ]:
while True:
    try:
        year, month, day = map(int, input("Enter dob(yyyy-mm-dd): ").split("-"))
        if year > 1900 and (month >= 1 and month <= 12) and (day > 0 and day <= 31):
            if year % 4 == 0 and (year % 400 == 0 or year % 100 != 0):
                if month == 2 and (day<=29):  
                    print("Valid dob")
                else:
                    raise Exception()
            else:
                if month == 2:
                    if day <= 28:
                        print("valid dob")
                    else:
                        raise Exception()
                else:
                    print("valid dob")
            break
        else:
            raise Exception()
    except:
        print("Invalid dob")

Enter dob(yyyy-mm-dd): 2000-02-30
Invalid dob
Enter dob(yyyy-mm-dd): 2000-02-29
Valid dob

### Classes

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def first_name(self):
        return self.name.split()[0]
    
    def age_category(self):
        if self.age < 18:
            return "Child"
        elif self.age >=18 and self.age < 60:
            return "Young person"
        return "Senior citizen"

In [ ]:
p1 = Person("John Doe", 37)
print(p1.first_name())
print(p1.age_category())

John
Young person

## Intermediate

### Pandas

In [ ]:
df = pd.read_csv("https://github.com/datalaker/assets/raw/main/data/data.csv")
df.head(5)

,name,age,street,city,state,zip,lng,lat
0,Jonathon Myers,41,87101 Ryan Plains Apt. 918,East Tamaraview,Montana,36335,-74.764331,-33.143414
1,Richard Moses,27,255 Walker Trail Apt. 235,Ballhaven,Nevada,11900,-24.597145,71.563941
2,Charles Smith,19,23460 Lauren Forges Suite 938,Hernandezside,Nevada,73620,160.219756,33.808708
3,Tammy Ford,79,848 Avila Neck Suite 892,Robbinsmouth,Vermont,43351,-64.448384,-28.593652
4,Kevin Becker,37,92571 Mackenzie Pine Suite 450,Wilsontown,Kansas,11496,146.620389,71.886168

In [ ]:
df['lat+lon'] = df['lng'] + df['lat']
df.head(5)

,name,age,street,city,state,zip,lng,lat,lat+lon
0,Jonathon Myers,41,87101 Ryan Plains Apt. 918,East Tamaraview,Montana,36335,-74.764331,-33.143414,-107.907745
1,Richard Moses,27,255 Walker Trail Apt. 235,Ballhaven,Nevada,11900,-24.597145,71.563941,46.966796
2,Charles Smith,19,23460 Lauren Forges Suite 938,Hernandezside,Nevada,73620,160.219756,33.808708,194.028464
3,Tammy Ford,79,848 Avila Neck Suite 892,Robbinsmouth,Vermont,43351,-64.448384,-28.593652,-93.042036
4,Kevin Becker,37,92571 Mackenzie Pine Suite 450,Wilsontown,Kansas,11496,146.620389,71.886168,218.506557

In [ ]:
df['new_col'] = df.apply(lambda row:row['lng'] + row['lat'], axis=1)
df.head(5)

,name,age,street,city,state,zip,lng,lat,lat+lon,new_col
0,Jonathon Myers,41,87101 Ryan Plains Apt. 918,East Tamaraview,Montana,36335,-74.764331,-33.143414,-107.907745,-107.907745
1,Richard Moses,27,255 Walker Trail Apt. 235,Ballhaven,Nevada,11900,-24.597145,71.563941,46.966796,46.966796
2,Charles Smith,19,23460 Lauren Forges Suite 938,Hernandezside,Nevada,73620,160.219756,33.808708,194.028464,194.028464
3,Tammy Ford,79,848 Avila Neck Suite 892,Robbinsmouth,Vermont,43351,-64.448384,-28.593652,-93.042036,-93.042036
4,Kevin Becker,37,92571 Mackenzie Pine Suite 450,Wilsontown,Kansas,11496,146.620389,71.886168,218.506557,218.506557

In [ ]:
df.to_csv('weather.csv', index=False)

In [ ]:
df.to_parquet('weather.parquet', index=False)

In [ ]:
df.to_parquet('weather.snappy.parquet', index=False, compression='snappy')

## Advnanced

### API

#### Cryptocurrency API

An API lets two pieces of software talk to each other. Just like a function,  you don’t have to know how the API works only its inputs and outputs.  An essential type of API is a REST API that allows you to access resources via the internet.

In [ ]:
cg = CoinGeckoAPI()

bitcoin_data = cg.get_coin_market_chart_by_id(id='bitcoin', vs_currency='usd', days=30)

In [ ]:
type(bitcoin_data)

dict

The response we get is in the form of a JSON which includes the price, market caps, and total volumes along with timestamps for each observation. We are focused on the prices so we will select that data.

In [ ]:
bitcoin_price_data = bitcoin_data['prices']

bitcoin_price_data[0:5]

[[1674659036700, 22437.676766780296],
 [1674662496561, 22554.235235968128],
 [1674666150603, 22655.241458162487],
 [1674669757150, 22581.523269433706],
 [1674673322486, 22702.12418805827]]

Finally lets turn this data into a Pandas DataFrame

In [ ]:
data = pd.DataFrame(bitcoin_price_data, columns=['TimeStamp', 'Price'])
data

         TimeStamp         Price
0    1674659036700  22437.676767
1    1674662496561  22554.235236
2    1674666150603  22655.241458
3    1674669757150  22581.523269
4    1674673322486  22702.124188
..             ...           ...
720  1677236589648  23859.523937
721  1677240239956  23864.366905
722  1677243723401  23930.836085
723  1677247225724  23825.030154
724  1677251684000  23783.007546

[725 rows x 2 columns]

Now that we have the DataFrame we will convert the timestamp to datetime and save it as a column called `Date` We will map our `unix_to_datetime` to each timestamp and convert it to a readable datetime.

In [ ]:
data['date'] = data['TimeStamp'].apply(lambda d: datetime.date.fromtimestamp(d/1000.0))
data

         TimeStamp         Price        date
0    1674659036700  22437.676767  2023-01-25
1    1674662496561  22554.235236  2023-01-25
2    1674666150603  22655.241458  2023-01-25
3    1674669757150  22581.523269  2023-01-25
4    1674673322486  22702.124188  2023-01-25
..             ...           ...         ...
720  1677236589648  23859.523937  2023-02-24
721  1677240239956  23864.366905  2023-02-24
722  1677243723401  23930.836085  2023-02-24
723  1677247225724  23825.030154  2023-02-24
724  1677251684000  23783.007546  2023-02-24

[725 rows x 3 columns]

Using this modified dataset we can now group by the `Date` and find the min, max, open, and close for the candlesticks.

In [ ]:
candlestick_data = data.groupby(data.date, as_index=False).agg({"Price": ['min', 'max', 'first', 'last']})
candlestick_data

          date         Price
                         min           max         first          last
0   2023-01-25  22437.676767  23399.023333  22437.676767  22888.682509
1   2023-01-26  22950.860621  23199.748318  23073.579086  23015.901549
2   2023-01-27  22651.832046  23284.281217  23037.802893  23032.513357
3   2023-01-28  22954.372104  23147.844295  23084.508148  23002.994002
4   2023-01-29  23008.078799  23907.560620  23008.078799  23769.905913
5   2023-01-30  22704.734249  23755.231402  23755.231402  22704.734249
6   2023-01-31  22783.222755  23189.694720  22846.018222  23021.203330
7   2023-02-01  22980.516633  23723.290222  23137.323554  23708.528154
8   2023-02-02  23584.484146  24182.858615  23725.161796  23644.899710
9   2023-02-03  23353.764868  23652.415674  23519.655156  23412.276206
10  2023-02-04  23304.928359  23498.984032  23438.134391  23415.291170
11  2023-02-05  22878.854159  23398.869246  23339.608294  22988.253154
12  2023-02-06  22742.644242  23060.400193  22947.523793  22906.739698
13  2023-02-07  22786.483006  23610.185929  22786.483006  23205.900533
14  2023-02-08  22871.103325  23310.172649  23259.399425  22957.553733
15  2023-02-09  21844.198228  23009.061325  22947.507829  21844.198228
16  2023-02-10  21499.661732  21958.603366  21809.953941  21518.879041
17  2023-02-11  21643.699159  21851.016108  21643.699159  21851.016108
18  2023-02-12  21792.247987  22077.091347  21889.579131  21829.311446
19  2023-02-13  21470.742475  21899.570907  21779.874404  21654.221682
20  2023-02-14  21687.029688  22275.827533  21807.834275  22201.004921
21  2023-02-15  22096.144734  24122.186290  22220.070997  24104.328600
22  2023-02-16  23949.132669  24960.697616  24307.875102  23949.132669
23  2023-02-17  23666.448646  24783.677812  23756.907282  24597.101700
24  2023-02-18  24485.686700  24695.038684  24628.824552  24614.831210
25  2023-02-19  24447.433278  24941.421349  24635.850030  24480.533434
26  2023-02-20  24228.784427  24972.047000  24322.563258  24694.998348
27  2023-02-21  24216.199315  24982.455935  24791.174738  24370.932551
28  2023-02-22  23688.237676  24417.387036  24417.387036  24090.251961
29  2023-02-23  23807.757151  24631.747484  24146.101365  23807.757151
30  2023-02-24  23783.007546  24021.954249  23951.110984  23783.007546

Finally we are now ready to use plotly to create our Candlestick Chart

In [ ]:
fig = go.Figure(data=[go.Candlestick(x=candlestick_data['date'],
                open=candlestick_data['Price']['first'], 
                high=candlestick_data['Price']['max'],
                low=candlestick_data['Price']['min'], 
                close=candlestick_data['Price']['last'])
                ])

fig.update_layout(xaxis_rangeslider_visible=False)

fig.show()

#### RandomUser API

RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01#intro) can be found here.

In [ ]:
r = RandomUser()

some_list = r.generate_users(10)
some_list

[<randomuser.RandomUser at 0x7fd9b0deb820>,
 <randomuser.RandomUser at 0x7fd9b0debdc0>,
 <randomuser.RandomUser at 0x7fd9b0deb730>,
 <randomuser.RandomUser at 0x7fd9b0debe80>,
 <randomuser.RandomUser at 0x7fd9b0deb670>,
 <randomuser.RandomUser at 0x7fd9b0debeb0>,
 <randomuser.RandomUser at 0x7fd9b0debaf0>,
 <randomuser.RandomUser at 0x7fd9b0debfd0>,
 <randomuser.RandomUser at 0x7fd9b0deba30>,
 <randomuser.RandomUser at 0x7fd9b0debcd0>]

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [ ]:
for user in some_list:
    print(user.get_full_name()," ",user.get_email())

Karine Morin   karine.morin@example.com
Olivia Kowalski   olivia.kowalski@example.com
Armandino Teixeira   armandino.teixeira@example.com
Jennifer Cook   jennifer.cook@example.com
Patrick Johnston   patrick.johnston@example.com
Mae Faure   mae.faure@example.com
Edward Evans   edward.evans@example.com
Anna Andersen   anna.andersen@example.com
Martha Hamilton   martha.hamilton@example.com
Charlie Park   charlie.park@example.com

Q: Generate photos of the random 5 users

In [ ]:
for user in some_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/women/7.jpg
https://randomuser.me/api/portraits/women/82.jpg
https://randomuser.me/api/portraits/men/12.jpg
https://randomuser.me/api/portraits/women/34.jpg
https://randomuser.me/api/portraits/men/10.jpg
https://randomuser.me/api/portraits/men/39.jpg
https://randomuser.me/api/portraits/men/35.jpg
https://randomuser.me/api/portraits/women/22.jpg
https://randomuser.me/api/portraits/women/21.jpg
https://randomuser.me/api/portraits/women/6.jpg

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods. Then, we return pandas dataframe with the users.

In [ ]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [ ]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Shaun Henry,male,Preston,Oxfordshire,shaun.henry@example.com,1947-11-20T06:10:29.722Z,https://randomuser.me/api/portraits/men/4.jpg
1,Inès Rodriguez,female,Montreuil,Marne,ines.rodriguez@example.com,1948-01-29T15:39:48.606Z,https://randomuser.me/api/portraits/women/84.jpg
2,Trinidad Iglesias,female,Murcia,Navarra,trinidad.iglesias@example.com,1959-04-16T09:03:51.663Z,https://randomuser.me/api/portraits/women/17.jpg
3,Stella Lacroix,female,Besançon,Puy-de-Dôme,stella.lacroix@example.com,1989-12-02T16:38:37.179Z,https://randomuser.me/api/portraits/women/85.jpg
4,Valtteri Tolonen,male,Ilmajoki,Lapland,valtteri.tolonen@example.com,1970-05-22T08:50:55.309Z,https://randomuser.me/api/portraits/men/20.jpg
5,Jucinara da Cunha,female,Queimados,Pernambuco,jucinara.dacunha@example.com,1977-06-06T14:13:51.924Z,https://randomuser.me/api/portraits/women/34.jpg
6,Bérénice Philippe,female,Dijon,Loire-Atlantique,berenice.philippe@example.com,1965-10-26T05:29:27.800Z,https://randomuser.me/api/portraits/women/31.jpg
7,Koray Durak,male,Isparta,Şanlıurfa,koray.durak@example.com,1976-06-27T18:31:32.429Z,https://randomuser.me/api/portraits/men/2.jpg
8,Luis Clark,male,Cape Coral,Pennsylvania,luis.clark@example.com,1974-01-09T16:52:53.905Z,https://randomuser.me/api/portraits/men/53.jpg
9,نیایش رضاییان,female,قم,اصفهان,nyysh.rdyyn@example.com,1983-04-14T14:30:32.336Z,https://randomuser.me/api/portraits/women/80.jpg