In [ ]:
import cassandra
from cassandra.cluster import Cluster

In [2]:
cluster = Cluster(['127.0.0.1'])
session = cluster.connect()

In [ ]:
# test connection
session.execute("select * from music_library")   # no keyspace(database) is specified

In [4]:
# Lets create a keyspace
# Ignore the replication strategy, its used if you working on one node local instance

session.execute("create keyspace if not exists wysde \
                with replication = {'class': 'SimpleStrategy', 'replication_factor':1}" )

In [5]:
# connect to keyspace
session.set_keyspace("wysde")

### think of query before you design in cassandra

![alt text](pic5.png "Image 1 Display")

In [6]:
query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, primary key(year, artist_name))"

session.execute(query)

In [7]:
# check if table was created

count = session.execute(query)

print(count.one())

None

In [8]:
# insert rows
query ="insert into music_library (year, artist_name, album_name)"
query = query + "values(%s, %s, %s)"

session.execute(query, (1970, "The Beatles", "Let It Be"))

session.execute(query, (1965, "The Beatles", "Rubber Soul"))

In [9]:
# validate inserted data
query = "select * from music_library"

rows = session.execute(query)


for row in rows:
    print(row.year, row.album_name, row.artist_name)

1965 Rubber Soul The Beatles
1970 Let It Be The Beatles

In [10]:
# lets validate data model with intended query before database design

query = "select * from music_library where year=1970"

rows = session.execute(query)

for row in rows:
    print(row.year, row.album_name, row.artist_name)

1970 Let It Be The Beatles

In [11]:
# to drop table
query = "drop table music_library"

session.execute(query)

In [12]:

session.shutdown()
cluster.shutdown()